body {
    background-image: url("Images/background.png");
    padding-left: 8rem;
    padding-right: 8rem;
}

h2 {
    margin: 1rem;
}

h3 {
    margin: 1rem;
}
p {
    margin: 1rem;
    padding: 2rem;
}

img {
    margin: 1rem;
}

.Intro {
    margin: 1.5rem;
}

.Intro-Text {
    color: black;
    padding: 2px;
    font-size: 140%;
    border-radius: 20px;
    border: 0.3rem;
    border-style:groove;
    border-color: black;
    box-shadow: 5px 10px;
    background-image: url("Images/BG2.png")
    /* background-color: dimgray; */
}

.Intro-Logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links {
    max-width: 5%;
    margin: 0.5%
}

.LinkList {
    max-width: 95%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infopic {
    width: 90%;
    border: 0.2rem;
    margin: 2%;
    border-style:solid;
    border-color: black;
}

.Ant-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 0.4rem;
    border-style: groove;
    border-color: black;
    box-shadow: 5px 10px;
    background-image: url("Images/background2.png");
}

.Ant-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.antDiv {
    display: flex;
    flex-direction: row;
    display: none;
    background-image: url("Images/background2.png");
}

.Ant-Desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
    padding: 1%;
    border-radius: 20px;
    font-size: 160%;
    background-color: rgb(129, 91, 52);
    border: 0.2rem;
    border-style:solid;
    border-color: black;
    box-shadow: 5px 10px;
}

.NC-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.NC-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NCDiv {
    display: none;
    background-color: white;
}

canvas {
    width: 97%;
    margin: 1rem;
  }

  @media screen and (max-width: 400px){
    canvas {
        width: 100%;
      }
      .links {
        max-width: 10%;
    }
    .Intro-Text {
        font-size: 100%;
    }
    .Ant-Desc {
        font-size: 100%;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .Ant-Banner-Head {
        width: 30%
    }
    .infopic {
        width: 90%;
    }
    p {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    img {
        width: 120%;
        margin: 1rem;
    }
  }

  @media screen and (max-width: 800px){ 
    body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }