body {
    background-image: url("Images/background.png");
}

h2 {
    margin: 1rem;
}

h3 {
    margin: 1rem;
}
p {
    margin: 1rem;
}

img {
    margin: 0.3rem;
}

.Intro {
    margin: 1.5rem;
}

.Intro-Text {
    color: black;
    padding: 2px;
    border-radius: 20px;
    border: 0.3rem;
    border-style:groove;
    border-color: black;
    /* box-shadow: 5px 10px; */
    background-image: url("Images/BG2.png")
    /* background-color: dimgray; */

}

.links {
    max-width: 4%;
    margin: 0.2%
}

.LinkList {
    max-width: 95%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infopic {
    width: 100%;
    border: 0.2rem;
    border-style:solid;
    border-color: black;
}

.Ant-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 0.4rem;
    border-style: groove;
    border-color: black;
    background-image: url("Images/background2.png");
}

.Ant-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.antDiv {
    display: flex;
    flex-direction: row;
    display: none;
    background-image: url("Images/background2.png");
}

.Ant-Desc {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    padding: 2px;
    border-radius: 20px;
    font-size: 100%;
    background-color: rgb(129, 91, 52);
    border: 0.2rem;
    border-style:solid;
    border-color: black;
    box-shadow: 5px 10px;
}

.NC-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.NC-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NCDiv {
    display: none;
    background-color: white;
}

canvas {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 400px){
    canvas {
        width: 100%;
      }
      .links {
        max-width: 10%;
    }
  }