
@font-face {
    /* font-family: 'fun';
    src: url('Fonts/akadylan_open-webfont.woff2') format('woff2'),
         url('Fonts/akadylan_open-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal; */

    font-family: 'ket';
    src: url('Fonts/ketch___-webfont.woff2') format('woff2'),
         url('Fonts/ketch___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url("Images/background.png");
    padding-left: 8rem;
    padding-right: 8rem;
}

h2 {
    margin: 0.5rem;
    font-family: 'ket';
}

h3 {
    margin: 0.5rem;
    font-family: 'ket';
}
p {
    margin: 1rem;
    padding: 2rem;
    font-family: 'ket';
}

img {
    margin: 1rem;
}

.Intro {
    margin: 1.5rem;
}

.Intro-Text {
    color: black;
    padding: 2px;
    font-size: 2rem;
    border-radius: 20px;
    border: 0.3rem;
    border-style:groove;
    border-color: black;
    box-shadow: 5px 10px;
    background-image: url("Images/BG2.png");
    text-align: center;
}

.Intro-Logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links {
    max-width: 5rem;
    margin: 1rem;
}

.LinkList {
    display: flex;
    flex-direction: row;
    max-width: 95%;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.infopic {
    width: 90%;
    border: 0.2rem;
    margin: 2%;
    border-style:solid;
    border-color: black;
}

.infopic2 {
    width: 90%;
    border: 0.2rem;
    margin: 2%;
}

.infopicNC {
    width: 90%;
    border: 0.2rem;
    margin: 2%;
    border-style:solid;
    border-color: rgb(255, 255, 255);
}

.Ant-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 0.4rem;
    border-style: groove;
    border-color: black;
    background-image: url("Images/background2.png");
}

.Ant-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.antDiv {
    display: flex;
    flex-direction: row;
    display: none;
    background-image: url("Images/background2.png");
    align-items: center;
    justify-content: center;
}

.Ant-Desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    margin-top: -0.5rem;
    padding: 1%;
    border-radius: 20px;
    font-size: 3rem;
    text-align: center;
}

.Ant-Desc-Inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NC-Banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:black;
    margin: 1rem;
    border: 0.4rem;
    border-style: groove;
}

.NC-Banner-Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NCDiv {
    display: none;
    background-color:black;
}

.NC-Desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin: 0.5rem;
    margin-top: -0.5rem;
    padding: 1%;
    border-radius: 20px;
    font-size: 3rem;
    text-align: center;
   
}

canvas {
    width: 97%;
    margin: 1rem;
  }

  @media screen and (max-width: 400px){
    canvas {
        display: none;
        width: 100%;
      }
    .links {
        max-width: 20%;
    }
    .Intro-Text {
        font-size: 80%;
    }
    .Ant-Desc {
        font-size: 100%;
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .NC-Desc {
        font-size: 100%;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .Ant-Banner-Head {
        width: 30%
    }
    .infopic {
        width: 90%;
    }
    .Ant-Desc-Inner {
        flex-direction: column;
    }
   
    p {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    img {
        width: 120%;
        margin: 1rem;
    }
  }

  @media screen and (max-width: 800px){ 
    body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }